<div id="profileSection" class="loading-wrapper">
    
    <!-- هذا سيظهر أثناء التحميل -->
    <div class="skeleton-wrapper">
        <div class="d-flex align-items-center mb-4">
            <div class="skeleton-base sk-avatar-lg"></div>
            <div class="ms-3">
                <div class="skeleton-base sk-text sk-text-md"></div>
                <div class="skeleton-base sk-text sk-text-sm"></div>
            </div>
        </div>
        <div class="skeleton-base sk-input mb-3"></div>
        <div class="skeleton-base sk-input mb-3"></div>
    </div>

 
    <div class="real-content">
       
    </div>
</div>